<hlm-tabs
  tab="account"
  class="flex items-center justify-center flex-col min-h-screen"
>
  <!-- Barra de cima -->
  <hlm-tabs-list class="grid grid-cols-2" aria-label="tabs example">
    <button hlmTabsTrigger="account">Account</button>
    <button hlmTabsTrigger="password">Password</button>
  </hlm-tabs-list>

  <!-- Parte de alteração de Nome e Nome de usuario -->
  <div hlmTabsContent="account">
    <section hlmCard>
      <div hlmCardHeader>
        <h3 hlmCardTitle>Account</h3>
        <p hlmCardDescription>
          Make changes to your account here. Click save when you're done.
        </p>
      </div>
      <p hlmCardContent>
        <label class="block my-4" hlmLabel>
          Name
          <input class="mt-1.5 w-full" value="Nome" hlmInput />
        </label>
        <label class="block my-4" hlmLabel>
          Username
          <input class="mt-1.5 w-full" placeholder="@nomedeusuario" hlmInput />
        </label>
      </p>
      <div hlmCardFooter>
        <button hlmBtn>Save Changes</button>
      </div>
    </section>
  </div>

  <!-- Parte de alteração de Senha -->
  <div hlmTabsContent="password">
    <section hlmCard>
      <div hlmCardHeader>
        <h3 hlmCardTitle>Password</h3>
        <p hlmCardDescription>
          Change your password here. After saving, you'll be logged out.
        </p>
      </div>
      <p hlmCardContent>
        <label class="block my-4" hlmLabel>
          Old Password
          <input class="mt-1.5 w-full" type="password" hlmInput />
        </label>
        <label class="block my-4" hlmLabel>
          New Password
          <input class="mt-1.5 w-full" type="password" hlmInput />
        </label>
      </p>
      <div hlmCardFooter>
        <button hlmBtn>Save Password</button>
      </div>
    </section>
  </div>
</hlm-tabs>
