<nav class="flex gap-4 border rounded-md p-4 m-4 shadow-md bg-white">
  <a
    routerLink="/home"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >Home</a
  >
  <a
    routerLink="/about"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >About</a
  >
  <a
    routerLink="/login"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >Login</a
  >

  <a
    routerLink="/menu"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >Menu</a
  >
</nav>

<router-outlet></router-outlet>
