<label class="flex gap-4 border rounded-md p-4 m-4 shadow-md" hlmLabel>
  <a
    routerLink="/home"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >Home</a
  >
  <a
    routerLink="/about"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >About</a
  >
  <a
    routerLink="/login"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >Login</a
  >

  <a
    routerLink="/profile"
    routerLinkActive="underline"
    class="py-1 px-4 content-center"
    >Profile</a
  >
</label>

<app-menu></app-menu>
<router-outlet></router-outlet>
