<div class="flex items-center justify-center flex-col min-h-screen">
  <div class="border rounded-md p-6 shadow-md" hlmCard>
    <h1 class="flex py-2 mb-2 text-lg font-medium rounded-md">Tela de login</h1>
    <label hlmLabel
      >Email
      <input class="w-80" hlmInput type="email" placeholder="Email" />
    </label>
    <label hlmLabel
      >Senha
      <input class="w-80" hlmInput type="password" placeholder="Senha" />
    </label>
    <a href="https://easyretro.io/tools/hsl-to-hex/" class="text-xs underline"
      >Esqueci a senha</a
    >
    <div class="flex justify-between mt-2">
      <button hlmBtn>Logar</button>
      <button hlmBtn variant="secondary">Cadastrar</button>
    </div>
  </div>
</div>
