<hlm-menu-bar class="m-4">
  <div class="flex w-full items-center justify-between">
    <div class="flex gap-2">
      <button hlmMenuBarItem [brnMenuTriggerFor]="file">File</button>
      <button hlmMenuBarItem [brnMenuTriggerFor]="edit">Edit</button>
    </div>
  </div>

  <div class="flex gap-2 items-center whitespace-nowrap">
    <hlm-switch [checked]="isDarkMode" (click)="toggleTheme()" />
    <label class="px-2 py-1.5" hlmLabel> Dark mode </label>
  </div>
</hlm-menu-bar>

<!-- Parte do file -->
<ng-template #file>
  <hlm-menu variant="menubar" class="w-48">
    <hlm-menu-group>
      <button hlmMenuItem>New Tab</button>
      <button hlmMenuItem>New Window</button>
      <button hlmMenuItem disabled>New Incognito Window</button>
    </hlm-menu-group>

    <hlm-menu-separator />

    <button hlmMenuItem [brnMenuTriggerFor]="share">
      Share
      <hlm-menu-item-sub-indicator />
    </button>

    <hlm-menu-separator />

    <button hlmMenuItem>Print...</button>
  </hlm-menu>
</ng-template>

<ng-template #share>
  <hlm-sub-menu>
    <button hlmMenuItem>Email link</button>
    <button hlmMenuItem>Messages</button>
    <button hlmMenuItem>Notes</button>
  </hlm-sub-menu>
</ng-template>

<!-- Parte do edit -->
<ng-template #edit>
  <hlm-menu variant="menubar" class="w-48">
    <hlm-menu-group>
      <button hlmMenuItem>Undo</button>
      <button hlmMenuItem>Redo</button>
    </hlm-menu-group>

    <hlm-menu-separator />

    <button hlmMenuItem>Cut</button>
    <button hlmMenuItem>Copy</button>
    <button hlmMenuItem>Paste</button>
  </hlm-menu>
</ng-template>
