<hlm-menu-bar class="m-4">
  <div class="flex w-full items-center justify-between">
    <div class="flex gap-2">
      <button hlmMenuBarItem [brnMenuTriggerFor]="inicio">Inicio</button>
      <button hlmMenuBarItem [brnMenuTriggerFor]="edit">Edit</button>
    </div>
  </div>

  <div class="flex gap-2 items-center whitespace-nowrap">
    <hlm-switch [checked]="isDarkMode" (click)="toggleTheme()" />
    <label class="px-2 py-1.5" hlmLabel> Dark mode </label>
  </div>
</hlm-menu-bar>

<!-- -->
<ng-template #inicio>
  <hlm-menu variant="menubar" class="w-48">
    <hlm-menu-group>
      <button hlmMenuItem routerLink="/home" routerLinkActive="underline">
        Home
      </button>
      <button hlmMenuItem routerLink="/about" routerLinkActive="underline">
        About
      </button>
      <button hlmMenuItem routerLink="/login" routerLinkActive="underline">
        Login
      </button>
    </hlm-menu-group>

    <hlm-menu-separator />

    <button hlmMenuItem routerLink="/profile" routerLinkActive="underline">
      Profile
    </button>
  </hlm-menu>
</ng-template>

<!-- -->
<ng-template #edit>
  <hlm-menu variant="menubar" class="w-48">
    <hlm-menu-group>
      <button hlmMenuItem>Undo</button>
      <button hlmMenuItem>Redo</button>
    </hlm-menu-group>

    <hlm-menu-separator />

    <hlm-menu-group>
      <button hlmMenuItem>Cut</button>
      <button hlmMenuItem>Copy</button>
      <button hlmMenuItem>Paste</button>
    </hlm-menu-group>
  </hlm-menu>
</ng-template>
